* {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: linear-gradient(to right, #8a89c4, #c24161);
}

.container {
    background: linear-gradient(to right, #8a89c4, #c24161);
    max-width: 500px;
    margin: 15px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 0 15px rgb(177, 48, 48, 56);
    border-radius: 15px;

}

.container h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 15px rgb(177, 48, 48, 56);
}

.register-group {
    width: 100%;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.gender-groupp {


    align-items: center;
    display: flex;
    text-align: center;
    margin-bottom: -15px;
    padding: 0 5px;
}

.gender-groupp input {
    box-shadow: none !important;

}


.register-group input {
    background: transparent;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 6px;
    color: white;
    box-shadow: 0 0 15px rgb(177, 48, 48);
    margin-top: 15px;
    outline: none;

}

::-webkit-input-placeholder {
    color: rgb(71, 49, 49);
}


.btn {
    background: transparent;
    color: white;
    border: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 15px;

}

.btn button {
    background: transparent;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(197, 203, 214);
    border: none;
    box-shadow: 0 0 15px rgb(177, 48, 48);
}

.btn button:hover {
    background: linear-gradient(to left, #8a99c4, #c24161);
}
